@import "./normalize.css";
@import "./markdown.css";
@import "./toc.css";
@import "./common.css";

:root {
  --body-bg-color: #f7f9fe;
  --board-bg-color: #fff;
  --text-color: #24292f;
  --text-muted-color: #57606a;
  --text-subtle-color: #6e7781;
  --btn-bg-color: #ff6666;
  --tag-text-color: #fff;
  --sec-text-color: #525f7f;
  --desc-bg-color: #eef7fa;
  --toc-counter-bg-color: #49b1f5;
  --link-color: #42b983;
  --code-bg-color: #2d2d2d;
  --link-hover-bg-color: #f8f9fa;
  --navbar-bg-color: #0099cc;
  --navbar-text-color: #fff;
  --font-family: Georgia, "Noto Serif SC", Helvetica, Arial, Menlo, Monaco,
    monospace, serif;
}

[data-user-color-scheme="dark"] {
  --body-bg-color: #191928;
  --board-bg-color: #282c34;
  --text-color: #c9d1d9;
  --text-muted-color: #8b949e;
  --text-subtle-color: #484f58;
  --tag-text-color: #999;
  --sec-text-color: rgba(255, 255, 255, 0.75);
  --desc-bg-color: #2b3b3c;
  --toc-counter-bg-color: #3579a9;
  --code-bg-color: #272822;
  --navbar-bg-color: #12121c;
  --navbar-text-color: rgba(255, 255, 255, 0.6);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-size: 14.5px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--body-bg-color);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--sec-text-color);
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/* 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 定义滑块 内阴影 + 圆角 */
::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

/* 定义滚动条轨道 内阴影 + 圆角 */
::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}
