@import "./markdown.css";
@import "./toc.css";
@import "./common.css";

[data-color-scheme="light"] {
  color-scheme: light;
  --body-bg-color: #f7f9fe;
  --board-bg-color: #fff;
  --text-color: #34495e;
  --btn-bg-color: #ff6666;
  --tag-text-color: #fff;
  --sec-text-color: #525f7f;
  --desc-bg-color: #eef7fa;
  --toc-counter-bg-color: #49b1f5;
  --link-color: #42b983;
  --code-bg-color: #2d2d2d;
  --link-hover-bg-color: #f8f9fa;
  --navbar-bg-color: #12121c;
  --navbar-text-color: #fff;
  --font-family: Georgia, "Noto Serif SC", Helvetica, Arial, Menlo, Monaco, monospace, serif;
}

[data-color-scheme="dark"] {
  color-scheme: dark;
  --body-bg-color: #191928;
  --board-bg-color: #282c34;
  --text-color: rgba(255, 255, 255, 0.6);
  --btn-bg-color: #ff6666;
  --tag-text-color: #999;
  --sec-text-color: rgba(255, 255, 255, 0.75);
  --desc-bg-color: #2b3b3c;
  --toc-counter-bg-color: #3579a9;
  --link-color: #42b983;
  --code-bg-color: #272822;
  --link-hover-bg-color: #f8f9fa;
  --navbar-bg-color: #1b1c1d;
  --navbar-text-color: rgba(255, 255, 255, 0.6);
  --font-family: Georgia, "Noto Serif SC", Helvetica, Arial, Menlo, Monaco, monospace, serif;
}

[data-color-scheme="dark"] img {
  opacity: .9;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-size: 14.5px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--body-bg-color);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--sec-text-color);
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.el-dropdown__popper {
  opacity: .8;
  border-color: var(--navbar-bg-color) !important;
  background-color: var(--navbar-bg-color) !important;
}

.el-popper__arrow::before {
  border-color: var(--navbar-bg-color) !important;
  background-color: var(--navbar-bg-color) !important;
}

.el-dropdown-menu {
  background-color: var(--navbar-bg-color) !important;
}

.el-dropdown-menu__item {
  position: relative;
}

.el-dropdown-menu__item::after {
  display: none;
  content: "";
  position: absolute;
  top: 35px;
  left: calc(50% - 30px);
  width: 60px;
  height: 2px;
  background-color: #ff6666;
}

.el-dropdown-menu__item:hover::after {
  display: block;
}

.el-dropdown-menu__item:hover {
  background: none !important;
  
}

.el-dropdown-menu__item a {
  font-size: 14.5px;
  font-weight: 700;
  font-family: var(--font-family) !important;
  color: var(--navbar-text-color) !important;
}

/* 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 定义滑块 内阴影 + 圆角 */
::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

/* 定义滚动条轨道 内阴影 + 圆角 */
::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}
