.f-thide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}

.f-thide2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.f-thide3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.box-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.divide {
  position: relative;
  margin: 25px auto;
  width: calc(100% - 4 px);
  border: 2px dashed hsl(204, 90%, 81%);
  background-color: var(--board-bg-color);
}

.divide::before {
  position: absolute;
  top: -10px;
  left: 5%;
  z-index: 1;
  color: #49b1f5;
  content: '\e910';
  font: normal normal normal 14px/1 iconfont;
  font-size: 20px;
  transition: all 1s ease-in-out;
}

.clearfix {
  clear: both;
}

.bg-cover {
  position: relative;
  height: 60vh;
  width: 100%;
  padding: 0;
  border: 0;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-image: url(http://browser9.qhimg.com/bdr/__85/t0149fb2cfbb567962b.jpg);
  user-select: none;
}

.bg-cover:before {
  background-image: url('../img/bggrid.png');
}

[data-color-scheme='dark'] .bg-cover {
  opacity: 0.8;
}

.bg-cover:before,
.bg-cover:after {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: '';
}

.bg-cover .container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 1125px;
  transform: translate(-50%, -50%);
  margin-top: -30px;
}

.bg-cover .blog-title {
  padding: 0;
  margin: 0;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 12px;
  font-weight: bold;
  text-align: center;
  color: #eee;
  font-family: 楷体;
}

.bg-cover .blog-desc {
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-align: center;
  color: #eee;
  font-family: 楷体;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
