.f-thide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}

.f-thide2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.f-thide3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.box-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.divide {
  position: relative;
  margin: 25px auto;
  width: calc(100% - 4px);
  border: 2px dashed hsl(204, 90%, 81%);
  background-color: var(--board-bg-color);
  box-sizing: content-box;
  overflow: visible;
}

.divide::before {
  position: absolute;
  top: -10px;
  left: 5%;
  z-index: 1;
  color: #49b1f5;
  content: '\e910';
  font: normal normal normal 14px/1 iconfont;
  font-size: 20px;
  transition: all 1s ease-in-out;
}

.clearfix {
  clear: both;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
